@model FinalProject.Models.FoodModels.FoodSummary

@{
    ViewBag.Title = "FoodSummary";
}

<h2>FoodSummary</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       
    </style>
</head>
<body>

    <div class="split left">
        <div class="centered">
            <img src="@Model.Url" alt="Car" onclick="buttonClick1()" id="inc1" />
            <h2>@Model.Name</h2>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
           
            <p>@Model.Category it is! see that wasnt so hard</p>
            <p>@Model.MoviePair</p>
            <p>Heres how to order</p>
            <p>@Model.Phone</p>
            <p>Heres where to go</p>
            <p>@Model.Location</p>
            @using (Html.BeginForm("index", "Home")) //redirect to Home controller
            {

                <input type="submit" class="button" value="Return to Start" />
            }

        </div>
     
    </div>



</body>
</html>
