@model FinalProject.Models.FoodModels.FoodViewModel
@*
    @{
        ViewBag.Title = "Index";
    }

    <p>@Model.BusinessOne.Categories</p>
    <p>@Model.BusinessOne.Name</p>



    <p>@Model.BusinessTwo.Categories</p>
    <p>@Model.BusinessTwo.Name</p>

    <h2>Index</h2>*@

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
            color: white;
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            background-color: #111;
        }

        .right {
            right: 0;
            background-color: #808080;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered img {
                width: 300px;
                border-width: 30px;
                border-color: antiquewhite;
            }
    </style>
</head>
<body>

    <div class="split left">
        <div class="centered">
            <img src="@Model.BusinessOne.ImageUrl" alt="Car" onclick="buttonClickOptionOne()" id="inc1" style="width:100%">
            <h2>@Model.BusinessOne.Name</h2>

            <p><a href="@Model.BusinessOne.Url">Yelp link</a></p>
            <p>
                @{
                    int x1 = Model.BusinessOne.Categories.Count(); //grabs all descriptors in title JSON
                    for (int i = 0; i < x1; i++)
                    {
                    <p>@Model.BusinessOne.Categories[i].Title.ToString()</p>
                }

                }
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                <img src="@Model.BusinessTwo.ImageUrl" alt="Car" onclick="buttonClickOptionTwo()" id="inc" style="width:100%">
                <h2>@Model.BusinessTwo.Name</h2>
                <p><a href="@Model.BusinessOne.Url">Yelp link</a></p>

                <p>
                    @{
                        int x = Model.BusinessTwo.Categories.Count();
                        for (int i = 0; i < x; i++)
                        {
                        <p>@Model.BusinessTwo.Categories[i].Title.ToString()</p>
                    }

                    }

                </div>
            </div>

        </body>
    </html>

    @section Scripts
{

        <script type="text/javascript">

        var i = 0;
        function buttonClickOptionOne() {
            i++;
            console.log(i)
            if (i == 2) {
               
                window.location.href='@Html.Raw(@Url.Action("FoodSummary","Food", new { url= Model.BusinessOne.ImageUrl, category = Model.BusinessOne.Categories[0].Title.ToString(), name= Model.BusinessOne.Name, location = Model.BusinessOne.Location.Address1.ToString() + " City: " + Model.BusinessOne.Location.City.ToString(), phone = Model.BusinessOne.Phone}))'
            }
            if ((i + j) == 2 && i == 1) {
                //$.ajax({
                //    url: "/Movie/SessionTracker" + "i", // change controller name here and pass proper role id.
                //    type: "POST",
                //});

                window.location.reload();
            }
        }
        var j = 0;
        function buttonClickOptionTwo() {
            j++;
            console.log(j)
            if (j == 2) {
                @{ 
                    var z = Model.BusinessTwo;
                }
                window.location.href='@Html.Raw(@Url.Action("FoodSummary","Food", new { url = Model.BusinessTwo.ImageUrl, category = Model.BusinessTwo.Categories[0].Title.ToString(), name = Model.BusinessTwo.Name, location = Model.BusinessTwo.Location.Address1.ToString() + " City: " + Model.BusinessTwo.Location.City.ToString(), phone = Model.BusinessTwo.Phone}))'

                @*window.location.href='@Html.Raw(@Url.Action("Index", "Summary", new { movieTitle = Model.MovieTwo.title, id = Model.MovieTwo.id, posterPath = Model.MovieTwo.poster_path }))'*@
            }
            if ((i + j) == 2 && j == 1) {
                window.location.reload();
            }
        }

        </script>
    }