@model FinalProject.Models.GenreSelection.GenreViewModel

@{
    ViewBag.Title = "Genre";
}

<h2>Genre</h2>

@*@using (Html.BeginForm("GenreMovieSelector", "Home", FormMethod.Post))
{ }
<body>
    <div class="card-deck" ">
        <div class="card">
            <img class="card-img-top" src="@Model.GenreOne.name" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.GenreOne.name</h5>
                <p class="card-text">           </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                <a href="~/Views/Movie/Genre.cshtml"></a>
            </div>
            <button onclick="buttonClick1()">Click Me</button>
            <input type="text" id="inc" value="0">
        </div>

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.GenreTwo.name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <button onclick="buttonClick()">Click Me</button>
            <input type="text" id="inc1" value="0">
        </div>*@


    @*</div>
</body>*@
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>

    <div class="split left" onclick="buttonClick1()">
        <div class="centered" id="inc">
            <img src="#" alt="" onclick="buttonClick1()" style="width:100%">

            <h2 onclick="buttonClick1()">@Model.GenreOne.name</h2>
            
            @if (Model.GenreOne.name == "Horror")
            {
                <img src="~/Content/Images/horror.jpg" /> ;
            }
            else if (Model.GenreOne.name == "Action")
            {
                <img src="~/Content/Images/action.jpg" />;
            }
            else if (Model.GenreOne.name == "Comedy")
            {
                <img src="~/Content/Images/comedy.gif" />;
            }
            else if (Model.GenreOne.name == "Crime")
            {
                <img src="~/Content/Images/crime.jpg" />;
            }
            else if (Model.GenreOne.name == "Documentary")
            {
                <img src="~/Content/Images/documentary.jpg" />;
            }
            else if (Model.GenreOne.name == "Drama")
            {
                <img src="~/Content/Images/drama.png" />;
            }
            else if (Model.GenreOne.name == "Family")
            {
                <img src="~/Content/Images/family.jpg" />;
            }
            else if (Model.GenreOne.name == "Fantasy")
            {
                <img src="~/Content/Images/fantasy.jpg" />;
            }
            else if (Model.GenreOne.name == "History")
            {
                <img src="~/Content/Images/history.png" />;
            }
            else if (Model.GenreOne.name == "Music")
            {
                <img src="~/Content/Images/Music.jpg" />;
            }
            else if (Model.GenreOne.name == "Mystery")
            {
                <img src="~/Content/Images/mystery.gif" />;
            }
            else if (Model.GenreOne.name == "Romance")
            {
                <img src="~/Content/Images/romance2.jpg" />;
            }
            else if (Model.GenreOne.name == "Science Fiction")
            {
                <img src="~/Content/Images/scifi.jpeg" />;
            }
            else if (Model.GenreOne.name == "Animation")
            {
                <img src="~/Content/Images/animated-genre.jpg" />;
            }
            else if (Model.GenreOne.name == "War")
            {
                <img src="~/Content/Images/war.jpg" />;
            }
            else if (Model.GenreOne.name == "Western")
            {
                <img src="~/Content/Images/western.jpg" />;
            }
            else if (Model.GenreOne.name == "TV Movie")
            {
                <img src="~/Content/Images/tv movie.jpg" />;
            }
            else if (Model.GenreOne.name == "Thriller")
            {
                <img src="~/Content/Images/thriller.png" />;
            }
            else if (Model.GenreOne.name == "Adventure")
            {
                <img src="~/Content/Images/adventure.jpg" />;
            }
            
        </div>
    </div>  
    <div class="split right" onclick="buttonClick()">
        <div class="centered" id="inc1">
        
            <h2 onclick="buttonClick()">@Model.GenreTwo.name</h2>
            @if (Model.GenreTwo.name == "Horror")
            {
                <img src="~/Content/Images/horror.jpg" /> ;
            }
            else if (Model.GenreTwo.name == "Action")
            {
                <img src="~/Content/Images/action.jpg" />;
            }
            else if (Model.GenreTwo.name == "Comedy")
            {
                <img src="~/Content/Images/comedy.gif" />;
            }
            else if (Model.GenreTwo.name == "Crime")
            {
                <img src="~/Content/Images/crime.jpg" />;
            }
            else if (Model.GenreTwo.name == "Documentary")
            {
                <img src="~/Content/Images/documentary.jpg" />;
            }
            else if (Model.GenreTwo.name == "Drama")
            {
                <img src="~/Content/Images/drama.png" />;
            }
            else if (Model.GenreTwo.name == "Family")
            {
                <img src="~/Content/Images/family.jpg" />;
            }
            else if (Model.GenreTwo.name == "Fantasy")
            {
                <img src="~/Content/Images/fantasy.jpg" />;
            }
            else if (Model.GenreTwo.name == "History")
            {
                <img src="~/Content/Images/history.png" />;
            }
            else if (Model.GenreTwo.name == "Music")
            {
                <img src="~/Content/Images/Music.jpg" />;
            }
            else if (Model.GenreTwo.name == "Mystery")
            {
                <img src="~/Content/Images/mystery.gif" />;
            }
            else if (Model.GenreTwo.name == "Romance")
            {
                <img src="~/Content/Images/romance2.jpg" />;
            }
            else if (Model.GenreTwo.name == "Science Fiction")
            {
                <img src="~/Content/Images/scifi.jpeg" />;
            }
            else if (Model.GenreTwo.name == "Animation")
            {
                <img src="~/Content/Images/animated-genre.jpg" />;
            }
            else if (Model.GenreTwo.name == "War")
            {
                <img src="~/Content/Images/war.jpg" />;
            }
            else if (Model.GenreTwo.name == "Western")
            {
                <img src="~/Content/Images/western.jpg" />;
            }
            else if (Model.GenreTwo.name == "TV Movie")
            {
                <img src="~/Content/Images/tv movie.jpg" />;
            }
            else if (Model.GenreTwo.name == "Thriller")
            {
                <img src="~/Content/Images/thriller.png" />;
            }
            else if (Model.GenreTwo.name == "Adventure")
            {
                <img src="~/Content/Images/adventure.jpg" />;
            };

        </div>
        </div>

</body>
</html>



@section Scripts
{
    <script type="text/javascript">

        var i = 0;
        function buttonClick1() {
            document.getElementById('inc').value = ++i;
            console.log(i)
            if (i == 2) {

                window.location.href = '@Url.Action("GenreMovieSelector", "Movie", new { id = Model.GenreOne.id })' /* replace with success redirect*/
            }
            if ((i + j) == 2 && i == 1){
                window.location.reload();

            }
        }
        var j = 0;
        function buttonClick() {
            document.getElementById('inc1').value = ++j;
            console.log(j)
            if (j == 2) {
                window.location.href='@Url.Action("GenreMovieSelector", "Movie", new { id = Model.GenreTwo.id })' /* replace with success redirect*/
            }
            if ((i + j) == 2 && j == 1) {
                window.location.reload();
            }
        }


    </script>
}
