
<h2>GenreMovieSelector</h2>

@model FinalProject.Models.GenreSelection.GenreSelectorViewModel


@*<div class="w3-row-padding" style="display:inline-block">



        <div class="w3-third" style="display:inline-block">
            <div class="w3-card-4">
                <img src="http://image.tmdb.org/t/p/w185/@Model.GenreMovieOne.poster_path" alt="Car" onclick="buttonClick1()" id="inc1" style="width:100%">
                <div class="w3-container">
                    <p>@Model.GenreMovieOne.title</p>
                </div>
            </div>
        </div>

        <div class="w3-third" style="display:inline-block">
            <div class="w3-card-4">
                <img src="http://image.tmdb.org/t/p/w185/@Model.GenreMovieTwo.poster_path" alt="Car" onclick="buttonClick()" id="inc" style="width:100%">
                <div class="w3-container">
                    <p>@Model.GenreMovieTwo.title</p>
                </div>
            </div>
        </div>
    </div>*@
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
            color: white;
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            background-color: #111;
        }

        .right {
            right: 0;
            background-color: #808080;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered img {
                width: 300px;
                border-width: 30px;
            }
    </style>
</head>
<body>

    <div class="split left" onclick="buttonClick1()">
        <div class="centered">
            <img src="http://image.tmdb.org/t/p/w185/@Model.GenreMovieOne.poster_path" alt="Car" onclick="buttonClick1()" id="inc1" style="width:100%">
            <h2>@Model.GenreMovieOne.title</h2>
            <p>@Model.GenreMovieOne.overview</p>
        </div>
    </div>

    <div class="split right" onclick="buttonClick()">
        <div class="centered">
            <img src="http://image.tmdb.org/t/p/w185/@Model.GenreMovieTwo.poster_path" alt="Car" onclick="buttonClick()" id="inc" style="width:100%">
            <h2>@Model.GenreMovieTwo.title</h2>
            <p>@Model.GenreMovieTwo.overview</p>
        </div>
    </div>

</body>
</html>




@section Scripts
{
    <script type="text/javascript">

        var i = 0;
        function buttonClick1() {
            document.getElementById('inc').value = ++i;
            console.log(i)
            if (i == 2) {

                                window.location.href='@Html.Raw(@Url.Action("Index","Summary", new { movieTitle = Model.GenreMovieOne.title, id = Model.GenreMovieOne.id, posterPath = Model.GenreMovieOne.poster_path }))'
            }
            if ((i + j) == 2 && i == 1){
                window.location.reload();

            }
        }
        var j = 0;
        function buttonClick() {
            document.getElementById('inc1').value = ++j;
            console.log(j)
            if (j == 2) {
                                window.location.href='@Html.Raw(@Url.Action("Index","Summary", new { movieTitle = Model.GenreMovieOne.title, id = Model.GenreMovieTwo.id, posterPath = Model.GenreMovieTwo.poster_path }))'
            }
            if ((i + j) == 2 && j == 1) {
                window.location.reload();
            }
        }


    </script>
}
