@model FinalProject.Models.GenreSelection.GenreViewModel

@{
    ViewBag.Title = "Genre";
}

<h2>Genre</h2>

@*@using (Html.BeginForm("GenreMovieSelector", "Home", FormMethod.Post))
{ }
<body>
    <div class="card-deck" ">
        <div class="card">
            <img class="card-img-top" src="@Model.GenreOne.name" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.GenreOne.name</h5>
                <p class="card-text">           </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                <a href="~/Views/Movie/Genre.cshtml"></a>
            </div>
            <button onclick="buttonClick1()">Click Me</button>
            <input type="text" id="inc" value="0">
        </div>

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.GenreTwo.name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <button onclick="buttonClick()">Click Me</button>
            <input type="text" id="inc1" value="0">
        </div>*@


    @*</div>
</body>*@
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
            color: white;
        }

        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .left {
            left: 0;
            background-color: #111;
        }

        .right {
            right: 0;
            background-color: #808080;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered img {
                width: 300px;
                border-radius: 100%;
            }
    </style>
</head>
<body>

    <div class="split left" onclick="buttonClick1()">
        <div class="centered">
            <img src="." alt="Car" onclick="buttonClick1()" id="inc1" style="width:100%">
            <h2 onclick="buttonClick1()" >@Model.GenreOne.name</h2>
          
        </div>
    </div>

    <div class="split right" onclick="buttonClick()">
        <div class="centered">
            <img src="." alt="Car" onclick="buttonClick()" id="inc" style="width:100%">
            <h2 onclick="buttonClick()">@Model.GenreTwo.name</h2>
            
        </div>
    </div>

</body>
</html>



@section Scripts
{
    <script type="text/javascript">

        var i = 0;
        function buttonClick1() {
            document.getElementById('inc').value = ++i;
            console.log(i)
            if (i == 2) {

                window.location.href = '@Url.Action("GenreMovieSelector", "Movie", new { id = Model.GenreOne.id })' /* replace with success redirect*/
            }
            if ((i + j) == 2 && i == 1){
                window.location.reload();

            }
        }
        var j = 0;
        function buttonClick() {
            document.getElementById('inc1').value = ++j;
            console.log(j)
            if (j == 2) {
                window.location.href='@Url.Action("GenreMovieSelector", "Movie", new { id = Model.GenreTwo.id })' /* replace with success redirect*/
            }
            if ((i + j) == 2 && j == 1) {
                window.location.reload();
            }
        }


    </script>
}
