

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div class="split left" onclick="location.href='@Url.Action("Genre","Movie")'">
        <div class="centered">
            <input type="button" value="Genre" class="button" onclick="location.href='@Url.Action("Genre","Movie")'">
            <p>You can pick which movie to fight over by fighting over a genre first</p>
            </div>
        </div>

        <div class="split right" onclick="location.href='@Url.Action("Popular","Movie")'">
            <div class="centered">
                <input type="button" value="Popular Movies" class="button"onclick="location.href='@Url.Action("Popular","Movie")'">
                <p>or go straight to fighting over which popular movie to watch</p>
                </div>
            </div>

        </body>
    </html>
<body>
    <div class="card-deck"">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Genre</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <input type="button" value="Vote" onclick="location.href='@Url.Action("Genre","Movie")'">
        </div>

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Most Popular</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <input type="button" value="Vote" onclick="location.href='@Url.Action("Popular","Movie")'">
        </div>

    </div>
</body>