@model FinalProject.Models.MoviePopularity.MoviePopularityViewModel

@{
    ViewBag.Title = "Popular";
}


<h2>Popular</h2>

<div class="row">
    <div class="col-lg-6">
        <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/@Model.MovieOne.poster_path" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Title: @Model.MovieOne.title.</h5>
            <p class="card-text">About:   @Model.MovieOne.overview</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Realease Date:       @Model.MovieOne.release_date</li>
            <li class="list-group-item">Popularity Ranking:  @Model.MovieOne.popularity</li>
            <li class="list-group-item">Voter Average:       @Model.MovieOne.vote_average</li>
        </ul>
        <div class="card-body">
            <input type="button" id="optionOne" onclick="buttonClickOptionOne()" value="Increment Value" />
        </div>
    </div>
    <div class="col-lg-6">
        <img class="card-img-top" src="http://image.tmdb.org/t/p/w185/@Model.MovieTwo.poster_path" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> @Model.MovieTwo.title</h5>
            <p class="card-text">@Model.MovieTwo.overview</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Realease Date:      @Model.MovieTwo.release_date</li>
            <li class="list-group-item">Popularity Ranking: @Model.MovieTwo.popularity</li>
            <li class="list-group-item">Voter Average:      @Model.MovieTwo.vote_average.</li>
        </ul>
        <div class="card-body">
            <input type="button" id="optioneOne" onclick="buttonClickOptionTwo()" value="Increment Value" />
        </div>
    </div>
</div>


@section Scripts
{

    <script type="text/javascript">

        var i = 0;
        function buttonClickOptionOne() {
            i++;
            console.log(i)
            if (i == 2) {
                window.location.href='@Url.Action("Index","Summary", new { movieTitle = Model.MovieOne.title, id = Model.MovieOne.id, posterPath = Model.MovieOne.poster_path })' 
            }
            if ((i + j) == 2 && i == 1) {
                window.location.reload();
            }
        }
        var j = 0;
        function buttonClickOptionTwo() {
            j++;
            console.log(j)
            if (j == 2) {
                window.location.href='@Url.Action("Index", "Summary", new { movieTitle = Model.MovieTwo.title, id = Model.MovieTwo.id, posterPath = Model.MovieTwo.poster_path })'
            }
            if ((i + j) == 2 && j == 1) {
                window.location.reload();
            }
        }

    </script>
}
