@model FinalProject.Models.MoviePopularity.MoviePopularityViewModel

@{
    ViewBag.Title = "Popular";
}


<h2>Popular</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.MovieOne.poster_path" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.MovieOne.title.</h5>
        <p class="card-text">@Model.MovieOne.overview</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.MovieOne.release_date</li>
        <li class="list-group-item">@Model.MovieOne.popularity</li>
        <li class="list-group-item">@Model.MovieOne.vote_average</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <input type="button" onclick="incrementValue()" value="Increment Value" />
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@section Scripts
{
<script type="javascript">
     function incrementValue()
    {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

            $(document).ready(function ()
            {

            });
</script>
}